<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Estadísticas de cliente</h1>
	<button><%= link_to 'Atras', clients_path,:id =>'atras' %></button>
	<h2>Facturacion por año</h2>
	<% @amounts.each do |index,value |%>
		<%= content_tag(:p, "En #{index} facturó $ #{value}") %>
	<% end %>
	<h2>Top 5 destinatarios</h2>
	<ol>
	<% @top.each do |name, monto| %>
		
			<li><%= "La persona #{name} le facturó $ #{monto} en total" %></li>
		
	<% end %>
	</ol>
	<h2>Cantidad de facturas por mes emitidas por el cliente</h2>
	<ol>
	<% @cant_bills.each do |var| %>
		
			<li><%= "En #{var[:name]} se emitieron #{var[:cant]} facturas" %></li>
		


	<% end %>
	</ol>
</body>
</html>